<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.killdemo.mapper.KillOrderMapper">

    <insert id="addKillOrder" parameterType="com.zzq.killdemo.pojo.KillOrder">
        INSERT INTO `kill_order` ( user_id, order_id,goods_id )
        VALUES (#{userId},#{orderId},#{goodsId} )
    </insert>

    <select id="selectKillOrder" resultType="com.zzq.killdemo.pojo.KillOrder">
        SELECT id,user_id,order_id,goods_id FROM `kill_order`
        WHERE user_id =#{userId} AND goods_id =#{goodsId}
    </select>
</mapper>

